src/conf/xml-resources/web-service-references/conversor/wsdl/localhost_8000/conversor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsaula/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsaula/" name="ConversorService">
<types>
<xsd:schema>
<xsd:import namespace="http://wsaula/" schemaLocation="http://localhost:8000/conversor?xsd=1"/>
</xsd:schema>
</types>
<message name="realParaEuro">
<part name="parameters" element="tns:realParaEuro"/>
</message>
<message name="realParaEuroResponse">
<part name="parameters" element="tns:realParaEuroResponse"/>
</message>
<message name="dolarParaReal">
<part name="parameters" element="tns:dolarParaReal"/>
</message>
<message name="dolarParaRealResponse">
<part name="parameters" element="tns:dolarParaRealResponse"/>
</message>
<message name="realToDolar">
<part name="parameters" element="tns:realToDolar"/>
</message>
<message name="realToDolarResponse">
<part name="parameters" element="tns:realToDolarResponse"/>
</message>
<message name="euroParaReal">
<part name="parameters" element="tns:euroParaReal"/>
</message>
<message name="euroParaRealResponse">
<part name="parameters" element="tns:euroParaRealResponse"/>
</message>
<message name="realParaLibras">
<part name="parameters" element="tns:realParaLibras"/>
</message>
<message name="realParaLibrasResponse">
<part name="parameters" element="tns:realParaLibrasResponse"/>
</message>
<message name="librasParaReal">
<part name="parameters" element="tns:librasParaReal"/>
</message>
<message name="librasParaRealResponse">
<part name="parameters" element="tns:librasParaRealResponse"/>
</message>
<portType name="Conversor">
<operation name="realParaEuro">
<input wsam:Action="http://wsaula/Conversor/realParaEuroRequest" message="tns:realParaEuro"/>
<output wsam:Action="http://wsaula/Conversor/realParaEuroResponse" message="tns:realParaEuroResponse"/>
</operation>
<operation name="dolarParaReal">
<input wsam:Action="http://wsaula/Conversor/dolarParaRealRequest" message="tns:dolarParaReal"/>
<output wsam:Action="http://wsaula/Conversor/dolarParaRealResponse" message="tns:dolarParaRealResponse"/>
</operation>
<operation name="realToDolar">
<input wsam:Action="http://wsaula/Conversor/realToDolarRequest" message="tns:realToDolar"/>
<output wsam:Action="http://wsaula/Conversor/realToDolarResponse" message="tns:realToDolarResponse"/>
</operation>
<operation name="euroParaReal">
<input wsam:Action="http://wsaula/Conversor/euroParaRealRequest" message="tns:euroParaReal"/>
<output wsam:Action="http://wsaula/Conversor/euroParaRealResponse" message="tns:euroParaRealResponse"/>
</operation>
<operation name="realParaLibras">
<input wsam:Action="http://wsaula/Conversor/realParaLibrasRequest" message="tns:realParaLibras"/>
<output wsam:Action="http://wsaula/Conversor/realParaLibrasResponse" message="tns:realParaLibrasResponse"/>
</operation>
<operation name="librasParaReal">
<input wsam:Action="http://wsaula/Conversor/librasParaRealRequest" message="tns:librasParaReal"/>
<output wsam:Action="http://wsaula/Conversor/librasParaRealResponse" message="tns:librasParaRealResponse"/>
</operation>
</portType>
<binding name="ConversorPortBinding" type="tns:Conversor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="realParaEuro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dolarParaReal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realToDolar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="euroParaReal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realParaLibras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="librasParaReal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConversorService">
<port name="ConversorPort" binding="tns:ConversorPortBinding">
<soap:address location="http://localhost:8000/conversor"/>
</port>
</service>
</definitions>